<div class="container">
  <mat-grid-list cols="11">
    <mat-grid-tile colspan="5" rowspan="5" class="grid-tile">
      <mat-grid-tile-header class="grid-tile">
        <h3>Filter</h3>
        <button mat-button class="icon">
          <mat-icon>close</mat-icon>
        </button>
      </mat-grid-tile-header>
      <div class="card">
        <mat-card class="each-card" *ngFor="let card of cards">{{card}}</mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="5">
      <div class="button-row">
        <div class="each">
          <button mat-fab (click)=moveRight()>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        <div class="each">
          <button mat-fab (click)=moveDoubleRight()>
            <mat-icon>fast_forward</mat-icon>
          </button>
        </div>
        <div class="each">
          <button mat-fab (click)=moveDoubleLeft()>
            <mat-icon>fast_rewind</mat-icon>
          </button>
        </div>
        <div class="each">
          <button mat-fab (click)=moveLeft()>
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="5" class="grid-tile">
      Drop items here
    </mat-grid-tile>
  </mat-grid-list>
</div>