<div class="container">
  <mat-grid-list cols="11">
    <mat-grid-tile colspan="5" rowspan="5" class="grid-tile">
      <mat-grid-tile-header class="grid-tile">
        <mat-form-field class="example-form-field">
          <input matInput type="text" placeholder="Filter Input" [(ngModel)]="searchText" />
          <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value()">
            <mat-icon class="icon">close</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile-header>
      <div class="card">
        <mat-list role="list">
          <div class="list" *ngFor="let list of lists | filter: searchText; let i = index" (click)="setClickedList(i)" [ngClass]="{'active': selectedList[i]}">
            <mat-list-item role="listitem">{{list}}</mat-list-item>
          </div>
        </mat-list>
      </div>
    </mat-grid-tile>
    <mat-grid-tile rowspan="5">
      <div class="button-row">
        <div class="each">
          <button mat-fab (click)=moveRight()>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        <div class="each">
          <button mat-fab (click)=moveDoubleRight()>
            <mat-icon>fast_forward</mat-icon>
          </button>
        </div>
        <div class="each">
          <button mat-fab (click)=moveDoubleLeft()>
            <mat-icon>fast_rewind</mat-icon>
          </button>
        </div>
        <div class="each">
          <button mat-fab (click)=moveLeft()>
            <mat-icon>chevron_left</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="5" rowspan="5" class="grid-tile">
      <mat-grid-tile-header class="grid-tile">
        <h3>Drop items here</h3>
      </mat-grid-tile-header>
      <div class="card">
        <mat-list role="list">
          <div class="list" *ngFor="let card of cards; let i = index" (click)="setClickedCard(i)" [ngClass]="{'active': selectedCard[i]}">
            <mat-list-item role="listitem">{{card}}</mat-list-item>
          </div>
        </mat-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>